@font-face {
    font-family: 'Handelson';
    src: url('ofont.ru_Handelson Six.ttf') format('truetype');
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    background-image: url(back1.png);
    color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 134px 0 134px;
    min-width: 1440px;
}

header {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
header a {
    text-decoration: none;
    font-size: 20px;
    color: azure;
    display: flex;
    gap: 25px;
}
.btn {
    text-decoration: none;
    font-size: 20px;
    color: azure;
    padding: 10px 30px 10px 30px;
    background-color: #840000;
    border-radius: 5px;
    align-self: flex-start;
}
.btn:hover {
    background-color: #4D0000;
}

/*баннер*/
.banner{
    height: 792px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.slogan {
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.slogan p {
    margin: 0;
    font-size: 28px;
    font-family: 'Handelson';
}

/*что тебя ждет*/ 
.waiting{
    margin: 30px 30px 0 30px;
}
.title {
    display: flex;
    flex-direction: column;
    color: azure;
    font-family: 'Handelson';
    font-size: 32px;
    margin: 30px;
}
.title p {
    margin: 0 0 10px 30px;
    color: azure;
    font-family: 'Handelson';
    font-size: 32px;
}
.wrapper{
    display: flex;
    overflow-x: auto; /* Включаем горизонтальный скролл */
}
/* Стиль для скроллбара */
.wrapper::-webkit-scrollbar {
    margin: 5px;
    width: 12px; /* Ширина скроллбара */
}

/* Фон скроллбара */
.wrapper::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); /* Полупрозрачный фон */
    border-radius: 10px; /* Закругленные углы */
}

/* Ползунок скроллбара */
.wrapper::-webkit-scrollbar-thumb {
    background: #000000; /* Черный цвет ползунка */
    border-radius: 10px; /* Закругленные углы */
}

/* Эффект при наведении на ползунок */
.wrapper::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b; /* Светло-серый цвет при наведении */
}
.item {
    display: flex;
    padding-left: 15px;
    user-select: none;
} 

/*как нас найти*/ 
.location {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.location a{
    align-items: center;
    flex-direction: column;
    height: 650px;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0 0 30px 0;
}

/*статьи*/ 
.news {
    padding: 20px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
}
.news-content {
    text-align: left; /* Центрирование текста внутри элемента */
    padding: 20px;
}
.news-content a{
    color:azure;    
}
.news-content img{
    pointer-events: none;
    border-radius: 10px;
    height: 200px;
}

/*faq*/ 
.container-faq {
    padding:0 200px 50px 200px;
}
.faq-item {
    background-color: #1B1B1B;
    color: white;
    border-radius: 15px;
    margin: 10px 0;
    overflow: hidden;
    transition: max-height 0.5s;
    cursor: pointer;
}
.faq-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    user-select: none;
}
.faq-answer {
    max-height: 0;
    padding: 0px 15px;
    overflow: hidden;
    color: #a3a3a3;
    transition: max-height 0.5s;
}
.faq-answer a {
    margin-left: 0; /* Убирает отступ слева у ссылки */
}

.faq-item.active .faq-answer {
    max-height: 100px; /* максимальная высота ответа */
    padding-top: auto;
    padding-bottom: auto;
}
.toggle-icon {
    transition: transform 0.5s ease;
}
.faq-item.active .toggle-icon {
    transform: rotate(180deg);
}

/* подвал*/

footer {
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    list-style-type: none;
    padding: 50px 20px;
    position: relative;   /* Фиксированное позиционирование */
    bottom: 0;    
}
.naming {
    font-family: 'Handelson', sans-serif; 
    font-size: 30px; 
    padding-left: 1vw;
}
.list{
    display: flex;
    margin-left: 30vw;
}
.list ul{
    margin-left: 7vw;
    list-style: none;
    padding: 0;
}
.list a{
    margin-left: 0;  
}
.list-title {
    color: #ffffff;
    font-weight: bold;
}



/*СТРАНИЦА О НАС*/
.axe{
    pointer-events: none;
    z-index: -1;
    position: absolute;
    margin-left: -90px;
    margin-top: -100px;
}
.about-us {
    display: flex;
    justify-content: center;
}
.about-us img {
    pointer-events: none;
    padding: 40px;    
}
.text {
    border-radius: 10px;    /* Скругление углов */
    padding: 70px;          /* Отступы внутри */
    width: 700px;           /* Ширина */
    background-color: #00000098; /* Цвет фона */
    margin-bottom: 30px;
}
.text-content {
    margin: 0;              /* Убираем отступы у заголовка */
    text-align: center;        /* Размер шрифта заголовка */
    font-family: 'Handelson', sans-serif;
    font-size: 30px;
}
.text-simple {
    font-size: 20px;        /* Размер шрифта текста */
    text-align: center;            /* Цвет текста */
}


/*ГАЛЛЕРЕЯ*/
.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Разрешаем элементам переноситься на следующую строку */
    justify-content: space-between; /* Равномерное распределение пространства между элементами */
    row-gap: 15px; /* Пробел между строками */
    width: 1218px;

}
.mini-container {
    display: flex;
    flex-direction: column; /* Размещаем mini-контейнеры по вертикали */
    gap: 15px; /* Пробел между элементами внутри mini-контейнера */
    flex-shrink: 0; /* Запрещаем сжимать mini-контейнеры */
    position: relative; /* Позиционирование для внутренней стилизации */
}

.container-1 {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    width: 1271px;
}
.mini-container-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.container-2 {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    width: 1271px;
}

.container-3 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 1271px;
}
.mini-container-3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-shrink: 0;
    width: 649px;
    height: 1074px;
    position: relative;
}
.mini-container-3-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 607px;
    height: 1074px;
    position: relative;
}

.container-4 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    width: 1271px;
}

.container-5 {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    width: 1273px;
    flex-wrap: wrap;
    position: relative;
}
.mini-container-5 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 652px;
    position: relative;
}
.mini-container-5-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
}

.container-6 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 1271px;
}
.mini-container-6 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-shrink: 0;
    width: 637px;
    position: relative;
  }

/*АБОНЕМЕНТЫ*/
.product{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 239px;
    background-color: #000000;
    border-radius: 15px;
    align-items: flex-start;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 30px 0 30px 30px ;
}
.card ul, li{
    padding: 10px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.price{
    color: #ffffff;
    text-align: left;
    font-family: 'Handelson' sans-serif;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}


.rule-item {
    margin: 50px;
    color: white;
    overflow: hidden;
    transition: max-height 0.5s;
    cursor: pointer;
}
.rule-item img {
    margin: 0 auto;
    display: flex;
}
.rule-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.rule-header span {
    margin: 0 0 10px 30px;
    color: azure;
    font-family: 'Handelson';
    font-size: 32px;
}
.rule-answer {
    max-height: 0;
    padding: 0px 15px;
    overflow: hidden;
    color: #ffffff;
    transition: max-height 0.5s;
}
.rule-answer a {
    margin-left: 0; /* Убирает отступ слева у ссылки */
}
.rule-item.active .rule-answer {
    max-height: 500px; /* максимальная высота ответа */
    padding-top: auto;
    padding-bottom: auto;
}
.toggle-icon {
    transition: transform 0.5s ease;
}
.rule-item.active .toggle-icon {
    transform: rotate(180deg);
}